<div class="row align-items-center">
    <div class="col">
        <div class="row">
            <div class="col-sm-12" *ngFor="let newsFeedList of newsFeedLists">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ newsFeedList.topic }}</h5>
                        <p class="card-text">{{ newsFeedList.news }}</p>
                        <img  src="{{newsFeedList.image_URL}}" id="displayImage"
                            style="height: 380px; width: 380px;" />
                        <br><a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>